
*.aux

\.pdf

*.log

*.bak

*.bbl

*.blg

*.out

main\.pdf

*.synctex

*.toc

*.sav

*.gz

README\.md

Part1/IntregroDifferential1\.pdf

Part2/IntegroDifferential2\.pdf

Part1/ArXiV Submission/IntregroDifferential1.pdf
